/* navigation */
#navbar{
    flex-direction: column;
   
}

#navbar ul li a{
    font-size: 1rem;
    padding: 2px;
    margin: 0px 8px;
}

/* #navbar::before{
    height: 100%;
} */

#navbar ul{
    margin-bottom: 3px;
}



/* home */
#home{
    height: 370px;
    padding: 6px 6px;
}

#home p{
    font-size: 1rem;
}

#home::before{
    height: 480px; 
}



/* services */
#services{
    flex-direction: column;
}



#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}




/* our clients*/

/* #client-section{
    overflow: hidden;
} */

#client-section .clients{
    flex-wrap: wrap;
    /* height: 100%; */
}



/* contact us */



/* footer-section */


/* Utility classes */
.h-primary{
    font-size:26px;
}

.btn{
    font-size: 17px;
    padding: 4px 8px;
}